*
!*/
!*.*
!Makefile
!README

tags
config.h
config.h.in
Makefile.in
.deps/
autotools/**/Makefile
.DS_STORE
.tmp_versions
.vagrant/
*.swp
*.o
*.ko
*.mod.c
*.order
*.symvers
*.cmd
*.a
*.in
*.log
*.status
*.cache/
*.m4
